@using MudBlazor;
@using DestallMaterials.Blazor;

<td @onclick="OnClick" class="@cssClasses" style="@Style">
    <h4>
        @ChildContent
        @if (SortDirection != default)
        {
            var icon = SortDirection == SortDirection.Ascending ? Icons.Material.Outlined.ArrowUpward : Icons.Material.Outlined.ArrowDownward;
            <MudIcon Icon="@icon" />
        }
    </h4>
</td>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Action<SortDirection> OnSortToggled { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public SortDirection SortDirection { get; set; }

    string cssClasses => $"sorting-table-header {CssClass}"; 

    void OnClick()
    {
        if (SortDirection == SortDirection.Descending)
        {
            SortDirection = default;
        }
        else
        {
            SortDirection++;
        }
        OnSortToggled(SortDirection);
        StateHasChanged();
    }
}
